@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0 hide-scrollbar;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Shadow color */
  mask: inset(0 10px 15px rgba(0, 0, 0, 0.5)); /* Inner shadow */
  pointer-events: none; /* Make sure it doesn't interfere with image interaction */
}

.paragraph-wrapper a {
  @apply font-medium text-blue-400 relative inline-block;
}

.paragraph-wrapper a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.paragraph-wrapper a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.paragraph-wrapper span {
  @apply relative inline-block;
}

.paragraph-wrapper span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.paragraph-wrapper span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: "InterStatic";
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@master/docs/font-files/InterDisplay-Bold.woff2)
    format("woff2");
}
