@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 222 184 135;
  --background: 0 0 0;
  --card: 0 0 0;
  --card-foreground: 222 184 135;
  --popover: 0 0 0;
  --popover-foreground: 222 184 135;
  --primary: 222 184 135;
  --primary-foreground: 0 0 0;
  --secondary: 240 240 240;
  --secondary-foreground: 0 0 0;
  --muted: 240 240 240;
  --muted-foreground: 0 0 0;
  --accent: 240 240 240;
  --accent-foreground: 0 0 0;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0 0;
  --border: 240 240 240;
  --input: 240 240 240;
  --ring: 222 184 135;
  --chart-1: 12 76 171;
  --chart-2: 173 96 60;
  --chart-3: 197 134 192;
  --chart-4: 43 108 176;
  --chart-5: 46 213 115;
}

* {
  @apply p-0 m-0 hide-scrollbar;
}

body {
  @apply bg-background text-foreground;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Shadow color */
  mask: inset(0 10px 15px rgba(0, 0, 0, 0.5)); /* Inner shadow */
  pointer-events: none; /* Make sure it doesn't interfere with image interaction */
}

.fill-horizontal {
  @apply relative inline-block text-gray-300 font-normal;
  transition: color 0.3s ease;
}

.fill-horizontal::after {
  content: "";
  @apply absolute inset-0 bg-white;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: -1;
}

.fill-horizontal:hover::after {
  transform: scaleX(1);
}

.fill-horizontal:hover {
  color: black;
}

.underline-custom {
  @apply relative inline-block text-gray-300 font-normal;
}

.underline-custom::after {
  content: "";
  @apply absolute left-0 w-full h-[2px] bg-current;
  bottom: 2px;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.underline-custom:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.text-blink {
  animation: blinkColor 5s infinite;
}

@keyframes blinkColor {
  0%,
  100% {
    color: inherit; /* warna awal */
  }
  50% {
    color: white;
  }
}

.paragraph-wrapper a {
  @apply font-medium text-blue-400 relative inline-block;
}

.paragraph-wrapper a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.paragraph-wrapper a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.paragraph-wrapper span {
  @apply relative inline-block;
}

.paragraph-wrapper span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.paragraph-wrapper span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: "InterStatic";
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@master/docs/font-files/InterDisplay-Bold.woff2)
    format("woff2");
}
